<configuration>
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <property name="defaultPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %thread %highlight(%level) %logger %msg%n%xException%n"/>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>${application.home:-.}/logs/application.log</file>
        <encoder>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>

    <appender name="async-file" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="file"/>
    </appender>

    <appender name="async-console" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="console"/>
    </appender>

    <root level="warn">
        <appender-ref ref="async-file"/>
        <appender-ref ref="async-console"/>
    </root>

    <logger name="com.proofpoint" level="info" />

</configuration>